software/tools/**
software/src/ngd-monitor/*.lst
software/src/ngd-monitor/*.obj
software/src/ngd-monitor/*.bin
software/src/ngd-monitor/*.sld
software/src/ngd-monitor/simulation/**
.tmp/disasm.asm
